<a href="#nav" class="nav-trigger">Menu 
		<span class="nav-icon"></span>
		<svg x="10px" y="10px" width="54px" height="54px" viewBox="0 0 54 54">
			<circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
		</svg>
	</a>
	
	<div id="nav" class="nav">
		<div class="navigation-wrapper">
			<div class="half-block">
				<h2>Works</h2>
				<nav>
					<ul class="primary-nav">
						<li><a href="website.html" class="animsition-link <%= 'selected' if request.path == "/website.html" %>"><span data-letters="Website">Website</span></a></li>
						<li><a href="graphic.html" class="animsition-link <%= 'selected' if request.path == "/graphic.html" %>"><span data-letters="UI/Graphic">UI/Graphic</span></a></li>
						<li><a href="http://ubechen-notebook.site44.com/works/works.html" class="animsition-link outside" target="_blank"><span data-letters="Portfolio 2014">Portfolio 2014</span></a></li>
						<li class="divider"></li>
						<li><a href="about.html" class="animsition-link <%= 'selected' if request.path == "/about.html" %>"><i class="fa fa-smile-o"></i><span data-letters="About Me">About Me</span></a></li>
						<li><a href="index.html" class="animsition-link <%= 'selected' if request.path == "/index.html" %>"><i class="fa fa-home"></i><span data-letters="Home">Home</span></span></a></li>
					</ul>
				</nav>
			</div>
			<div class="half-block">
				<h2>Contact</h2>
				<address>
					<ul class="contact-info">
						<li><a href="mailto:taiyun0614@gmail.com">taiyun0614@gmail.com</a></li>
						<li><a href="tel:886939875837">+886 939 875837</a></li>
						<li class="divider"></li>
						<li>
							<ul>
								<li><a href="https://www.facebook.com/taiyun.chen" target="_blank" title="Facebook"><i class="fa fa-facebook-official"></i></a></li>
								<li><a href="https://www.linkedin.com/in/tai-yun-chen-00409b99" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
								<li><a href="https://github.com/ubechen" target="_blank" title="Github"><i class="fa fa-github"></i></a></li>
								<li><a href="https://www.flickr.com/photos/ubechen/albums" target="_blank" title="Flickr"><i class="fa fa-flickr"></i></a></li>
							</ul>
						</li>
					</ul>
				</address>
				<p class="copyright">Copyright © 2016 Tai-Yun Design. All rights reserved.</p>
			</div>
		</div>
	</div>