// Customized Settings
$allwidth: 100%;
$allheight: 100%;
$maxwidth: 1600px;
$minwidth: 299px;

$off-canvas-width1: 33.33333%;
$off-canvas-width2: 44.44444%;
$off-canvas-width3: 55.55555%;

$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: 'px';

$animation-duration: 0.7s;
$items: 6;