.navigation-is-open main {
	@include transform(translateX(100%));
}

.cd-nav-trigger {
	position: fixed;
	z-index: 3;
	left: 5%;
	top: 20px;
	height: 54px;
	width: 54px;
	background-color: $color-1;
	border-radius: 50%;
	
	//image replacement
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	@include transition(transform $animation-duration - 0.2s);

	.cd-nav-icon {
		//icon created in CSS
		position: absolute;
		@include center; // mixin inside partials > _mixins.scss
		width: 22px;
		height: 2px;
		background-color: $color-3;

		&::before, &:after {
			//upper and lower lines of the menu icon
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%; 
			background-color: inherit;

			//Force Hardware Acceleration in WebKit
			@include transform(translateZ(0));
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;

			@include transition(transform $animation-duration - 0.2s, width $animation-duration - 0.2s, top .3s);
		}

		&::before {
			// @include transform-origin(right top);
			-webkit-transform-origin: right top;
			-moz-transform-origin: right top;
			-ms-transform-origin: right top;
			-o-transform-origin: right top;
			transform-origin: right top;
			@include transform(translateY(-6px));
		}

		&::after {
			// @include transform-origin(right bottom);
			-webkit-transform-origin: right bottom;
			-moz-transform-origin: right bottom;
			-ms-transform-origin: right bottom;
			-o-transform-origin: right bottom;
			transform-origin: right bottom;
			@include transform(translateY(6px));
		}

	}

	.no-touch &:hover .cd-nav-icon::after {
		top: 2px;
	} 

	.no-touch &:hover .cd-nav-icon::before {
		top: -2px;
	} 

	svg {
		position: absolute;
		top: 0;
		left: 0;
	}

	circle {
		//circle border animation
		@include transition(stroke-dashoffset $animation-duration - 0.3s 0s);
	}

	.navigation-is-open & {
		//rotate trigger when navigation becomes visible
		@include transform(rotate(180deg));

		.cd-nav-icon::after, 
		.cd-nav-icon::before {
			//animate arrow --> from hamburger to arrow
			width: 50%;
			@include transition(transform $animation-duration - 0.2s, width $animation-duration - 0.2s);
		}

		.cd-nav-icon::before {
			@include transform(rotate(45deg));
		}

		.cd-nav-icon::after {
			@include transform(rotate(-45deg));
		}

		.no-touch &:hover .cd-nav-icon::after,
		.no-touch &:hover .cd-nav-icon::before {
			top: 0;
		} 

		circle {
			stroke-dashoffset: 0;
			@include transition(stroke-dashoffset $animation-duration - 0.3s 0.3s);
		}
	}

	@include MQ(L) {
		top: 40px;
	}
}

.cd-nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: $color-1;
	visibility: hidden;
	@include transition(visibility 0s $animation-duration);

	.cd-navigation-wrapper {
		@extend %clearfix;
		//all navigation content
		height: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		padding: 40px 5% 40px calc(5% + 80px);
		background: #333;
		
		//Force Hardware Acceleration in WebKit
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

		@include transform(translateX(-50%));
		@include transition(transform $animation-duration);
		@include transition-timing-function(cubic-bezier(.86,.01,.77,.78));
	}

	.cd-half-block {
		opacity: 0;
		text-align: left;
		@include transition(opacity 1s);
		&:last-child {
			margin-top: 3em;
		}
	}

	.navigation-is-open & {
		visibility: visible;
		@include transition(visibility 0s 0s);
		.cd-navigation-wrapper {
			@include transform(translateX(0));
			@include transition(transform $animation-duration - 0.2s);
			@include transition-timing-function(cubic-bezier(.82,.01,.77,.78));
		}
		.cd-half-block {
			opacity: 1;
		}
	}

	h2 {
		position: relative;
		margin-bottom: 1.7em;
		font-size: 1.3rem;
		font-weight: 800;
		color: #4fc3f7;
		text-transform: uppercase;
		&::after {
			//bottom separation line
			content: '';
			position: absolute;
			left: 0;
			bottom: -15px;
			height: 1px;
			width: 60px;
			background-color: currentColor;
		}
	}

	.cd-primary-nav {
		margin-top: 0;
		li {
			margin: 1.2em 0;
			&.divider {
				position: relative;
				height: 1px;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 80%;
					height: 1px;
					background: #666;
				}
			}
		}
		a {
			font-family: $fonts;
			font-size: 1.6rem;
			color: rgba($color-3, .3);
			display: inline-block;

			&.selected {
				color: $color-3;
			}

			.no-touch &:hover {
				color: $color-3;
			}
		}
	}

	.cd-contact-info {
		margin-top: 0;
		li {
			font-family: $fonts;
			margin-bottom: .75em;
			line-height: 1.2;
			color: rgba($color-3, .3);
		}
		a {
			color: #ccc;
		}
		span {
			display: block;
		}
		li, a, span {
			font-size: 1.2rem;
			font-weight: normal;
		}
	}

	@include MQ(M) {
		.cd-half-block {
			@include column(.5);
			&:last-child {
				margin-top: 0;
			}
		}
		.cd-primary-nav li {
			margin: 1.6em 0;
		}
		.cd-contact-info li {
			margin-bottom: 1.5em;
		}
	}

	@include MQ(L) {
		.cd-navigation-wrapper {
			padding: 62px 20%;
		}
		.cd-primary-nav {
			margin-top: 0;
		}
		h2 {
			font-size: 1.5rem;
			margin-bottom: 2em;
		}
		.cd-primary-nav {
			li {
				margin: 1.8em 0;
			}
			a {
				font-size: 1.6rem;
			}
		}
		.cd-contact-info {
			margin-top: 0;
			text-align: left;
			li {
				margin-bottom: 1em;
			}
			li, a, span {
				font-size: 1.2rem;
			}
		}
	}
}

.no-js main {
	height: auto;
	overflow: visible;
}  
.no-js .cd-nav {
	position: static;
	visibility: visible;
	.cd-navigation-wrapper {
		height: auto;
		overflow: visible;
		padding: 100px 5%;
		@include transform(translateX(0));
	}
}